:root {
    --pageBG: #0e0e0e;
    --textCol: #e5e5e5;
    --menuBG: #1d1d1d;
    --highlightCol: #a100ff;
    --highlightCol2: #03c2fc;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: var(--pageBG);
}

.menu-icon {
    position: relative;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    padding: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--menuBG);
    overflow: hidden;
    cursor: pointer;
    z-index: 1000;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: var(--textCol);
    margin: 6px 0;
}

.menu {
    position: absolute;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: var(--menuBG);
    color: var(--textCol);
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 80px 0 0 0;
    text-align: center;
}

.active {
    border-width: 3px;
    border-color: var(--highlightCol);
    border-style: solid none solid none;
}

.menu li {
    width: 100%;
    padding: 10px 0;
}

.menu a {
    text-decoration: none;
    color: var(--textCol);
    font-size: 18px;
}

#main-content {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: background-color 0.35s ease;
}

#main-content.regular {
    transition: background-color 0.35s ease;
    background: linear-gradient(
        90 deg,
        var(--highlightCol) 0%,
        var(--pageBG) 0%,
        var(--pageBG) 100%
    );
}

.shifted {
    transition: background-color 0.35s ease;
}

.page {
    position: absolute;
    width: 100%;
    top: 0px;
    height: 100%;
}

h1 {
    color: var(--textCol);
    width: 100%;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.main-canvas {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
}
.textbox-label {
    display: flex;
    align-items: center;
    width: 100%; /* Ensures the container spans the full width of the parent */
    color: var(--textCol);
}
.textbox-label .reqd-font-col {
    margin-left: 0.25em; /* Adds a small space between text and asterisk */
}

.login-textbox {
    position: relative;
    pointer-events: auto;
    flex: 1 auto; /* Makes the input fill remaining space */
    min-width: 0; /* Prevents overflow issues */
    max-width: 100%;
    height: 10%;
    background-color: var(--pageBG);
    color: var(--textCol);
}
.reqd-font-col {
    color: var(--highlightCol2);
}
.login {
    width: calc(min(1vw, 1vh) * 90);
    z-index: 0;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -75%);
    background-color: var(--menuBG);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 25px;
}

.signup {
    width: calc(min(1vw, 1vh) * 90);
    z-index: 0;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -75%);
    background-color: var(--menuBG);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 25px;
}

.security_key {
    width: calc(min(1vw, 1vh) * 90);
    z-index: 0;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -75%);
    background-color: var(--menuBG);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 25px;
}

.dialoguebtnprimary {
    align-self: stretch; /* Makes button span full width within flex container */
    padding: 0.75em;
    background-color: var(--highlightCol);
    outline: 3px solid var(--highlightCol);
    color: var(--textCol);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    flex: 1 auto;
}
.dialoguebtnsecondary {
    align-self: stretch; /* Makes button span full width within flex container */
    padding: 0.75em;
    background-color: var(--menuBG);
    outline: 3px solid var(--highlightCol);
    color: var(--textCol);
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    flex: 1 auto;
}
.login-header {
    text-align: center;
    color: var(--textCol);
    font-size: 1.5em;
    padding: 0.5em;
}
.login-buttons {
    gap: 0.25em;
}

.dialoguebtnprimary:hover {
    outline: 3px solid var(--highlightCol2);
    background-color: var(--highlightCol2); /* Hover effect */
}

.dialoguebtnsecondary:hover {
    outline: 3px solid var(--highlightCol2);
    background-color: var(--highlightCol2); /* Hover effect */
}
